<!DOCTYPE html>
<html>
<head>
  <title>PlaceImg Plugin testpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <style type="text/css">
    img {
      height: auto;
      width: 100%;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>This is the PlaceImg Plugin testpage!</h1>

  <p>Test the availability of all supported providers:</p>

  <div class="row">

    <div class="col-xs-6 col-md-4">

      <h2>Default</h2>
      {{ placeimg(600,400) }}
      {{ placeimg_url(600,400) }}
    </div>

    {% for provider in providers %}
      <div class="col-xs-6 col-md-4">
        <h2>{{ provider }}</h2>
        {{ placeimg(600,400,'', provider) }}
        {{ placeimg_url(600,400, provider) }}
      </div>
    {% endfor %}


  </div>
</div>
</body>
</html>
